.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.loading__container{
    width: min-content;
    height: min-content;
    padding: 2em;
    overflow: hidden;
    @media screen and (min-width:1024px){
        overflow: visible;
    }
}
.rainbow-marker-loader {
    height:4rem;
    width:20rem;
    max-width:100%;
    border:.5rem solid $color-crayon;
    border-radius:.5rem;
    animation: infinite alternate rainbow-fill $duration ease-in-out;
    box-sizing:border-box;
    position:relative;
    margin:1rem;
    background:
     $bg-01-a,
     $bg-02-a,
     $bg-03-a,
     $bg-04-a,
     $bg-05-a,
     $bg-06-a,
     $bg-07-a,
     $bg-08-a,
     $bg-09-a,
     $bg-10-a; 
  }
  
  .rainbow-marker-loader::after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin:left center;
    border-radius:.5rem;
    box-sizing:border-box;  
    margin-top:-7.5%;
    margin-left:-2.5%;
    animation: infinite alternate move-marker $duration ease-in-out;    
    background:
      no-repeat left   0% top    / 3rem  50% linear-gradient(to bottom right, transparent, transparent 40%,$color-crayon 40%),
      no-repeat left   0% bottom / 3rem  50% linear-gradient(to top right, transparent, transparent 40%,$color-crayon 40%),
      no-repeat left 3rem bottom / 100% 100% linear-gradient($color-crayon,$color-crayon)
  }
  
  @keyframes move-marker{
    10%{
      transform: translate(5%, 100%) rotate(2.5deg);
    }
    20%{
      transform: translate(20%, 0) rotate(-5deg);
    }
    30%{
      transform: translate(30%, 100%) rotate(2.5deg);
    }  
    40%{
      transform: translate(40%, 0) rotate(-5deg);
    } 
    50%{
      transform: translate(50%, 100%) rotate(2.5deg);
    }   
    60%{
      transform: translate(60%, 0) rotate(-5deg);
    }   
    70%{
      transform: translate(70%, 100%) rotate(2.5deg);
    }  
    80%{
      transform: translate(80%, 0) rotate(-5deg);
    }  
    90%{
      transform: translate(90%, 100%) rotate(2.5deg);
    }  
    100%{
      transform: translate(100%, 0) rotate(-5deg);
    }   
  }
  
  @keyframes rainbow-fill{
    0%{
      background:
       $bg-01-a,
       $bg-02-a,
       $bg-03-a,
       $bg-04-a,
       $bg-05-a,
       $bg-06-a,
       $bg-07-a,
       $bg-08-a,
       $bg-09-a,
       $bg-10-a;
    }
    10%{
      background:
       $bg-01-b,
       $bg-02-a,
       $bg-03-a,
       $bg-04-a,
       $bg-05-a,
       $bg-06-a,
       $bg-07-a,
       $bg-08-a,  
       $bg-09-a, 
       $bg-10-a;      
    }
    20%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-a,   
       $bg-04-a,
       $bg-05-a,
       $bg-06-a,
       $bg-07-a,  
       $bg-08-a,
       $bg-09-a,
       $bg-10-a;      
    }
    30%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-a,
       $bg-05-a,
       $bg-06-a,
       $bg-07-a,  
       $bg-08-a,
       $bg-09-a,
       $bg-10-a;      
    }
    40%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-b, 
       $bg-05-a, 
       $bg-06-a, 
       $bg-07-a,  
       $bg-08-a,
       $bg-09-a,
       $bg-10-a;      
    }
    50%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-b, 
       $bg-05-b, 
       $bg-06-a,
       $bg-07-a,   
       $bg-08-a,
       $bg-09-a,
       $bg-10-a;      
    }
    60%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-b, 
       $bg-05-b, 
       $bg-06-b, 
       $bg-07-a,   
       $bg-08-a,
       $bg-09-a,
       $bg-10-a;      
    }    
    70%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-b, 
       $bg-05-b, 
       $bg-06-b, 
       $bg-07-b,  
       $bg-08-a,
       $bg-09-a,
       $bg-10-a;      
    }  
    80%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-b, 
       $bg-05-b, 
       $bg-06-b, 
       $bg-07-b,  
       $bg-08-b,
       $bg-09-a,
       $bg-10-a;      
    }
    90%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-b, 
       $bg-05-b, 
       $bg-06-b, 
       $bg-07-b,  
       $bg-08-b,
       $bg-09-b, 
       $bg-10-a;     
    }   
    100%{
      background:
       $bg-01-b,
       $bg-02-b,
       $bg-03-b,
       $bg-04-b, 
       $bg-05-b, 
       $bg-06-b, 
       $bg-07-b,  
       $bg-08-b,
       $bg-09-b, 
       $bg-10-b;     
    }
  }
  .title{
    color:$color-crayon;
    font-size:1.5rem;
    text-transform:uppercase;
    letter-spacing:1px;
  }