/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    height: 75vh;
    width: 40vw;
    outline: none;
    padding: 1em;
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
    text-transform: capitalize;
    @media screen and (max-width: 1024px) {
        width: 80vw;
    }
    @media screen and (width: 320px){
        width: 90vw;
        height: 89vh;
    }
}

.modal__title{
    display: flex;
    justify-content: center;
}
.text__muted{
    color: rgba(82, 82, 82, 0.61);
}
.react-datetime-picker__wrapper{
    border-radius: 10px;
    margin: .4em 0;
    padding: .3em .5em;
    align-items: center;
    border: 2px solid #58A3C1 !important;
}