// Colors
$primary: #498FB9;
$lightprimary: #58A3C1;
$darkprimary: #4E74AC;
$info: #2c324d;
$sucess: #4ba570;
$warming:  #c89538;
$danger: #f44336;
$white: #E5ECED;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

/* animations constants */
$steps: 10;
$saturation: 80%;
$lightness: 60%;
$hue-offset: 320;
$duration: 5000ms;

  /* generate some colors */
  $color-01: hsl( calc( 360 / $steps *  1 + $hue-offset), $saturation, $lightness);
  $color-02: hsl( calc( 360 / $steps *  2 + $hue-offset), $saturation, $lightness);
  $color-03: hsl( calc( 360 / $steps *  3 + $hue-offset), $saturation, $lightness);
  $color-04: hsl( calc( 360 / $steps *  4 + $hue-offset), $saturation, $lightness);
  $color-06: hsl( calc( 360 / $steps *  6 + $hue-offset), $saturation, $lightness);
  $color-05: hsl( calc( 360 / $steps *  5 + $hue-offset), $saturation, $lightness);
  $color-07: hsl( calc( 360 / $steps *  7 + $hue-offset), $saturation, $lightness);
  $color-08: hsl( calc( 360 / $steps *  8 + $hue-offset), $saturation, $lightness);
  $color-09: hsl( calc( 360 / $steps * 9 + $hue-offset), $saturation,  $lightness);
  $color-10: hsl( calc( 360 / $steps * 10 + $hue-offset), $saturation, $lightness);
  $color-11: hsl( calc( 360 / $steps * 11 + $hue-offset), $saturation, $lightness);  
  $color-crayon: #202036;

  /* build some backgrounds */
  $bg-01-a: no-repeat left       0% top    / 11%   0% linear-gradient(to right, red, red);
  $bg-01-b: no-repeat left       0% top    / 11% 100% linear-gradient(to right,  red, red);
  $bg-02-a: no-repeat left   11.11% bottom / 11%   0% linear-gradient(to right,  red, red);
  $bg-02-b: no-repeat left   11.11% bottom / 11% 100% linear-gradient(to right,  red, red);
  $bg-03-a: no-repeat left   22.22% top    / 11%   0% linear-gradient(to right,  red, red);
  $bg-03-b: no-repeat left   22.22% top    / 11% 100% linear-gradient(to right,  red, red);
  $bg-04-a: no-repeat left   33.33% bottom / 11%   0% linear-gradient(to right,  red, rgb(251, 255, 9));
  $bg-04-b: no-repeat left   33.33% bottom / 11% 100% linear-gradient(to right,  rgb(251, 255, 0), rgb(251, 255, 9)); 
  $bg-05-a: no-repeat left   44.44% top    / 11%   0% linear-gradient(to right,  rgb(251, 255, 0), rgb(251, 255, 9));
  $bg-05-b: no-repeat left   44.44% top    / 11% 100% linear-gradient(to right,  rgb(251, 255, 0), rgb(251, 255, 9)); 
  $bg-06-a: no-repeat left   55.55% bottom / 11%   0% linear-gradient(to right,  rgb(251, 255, 0), rgb(251, 255, 9));
  $bg-06-b: no-repeat left   55.55% bottom / 11% 100% linear-gradient(to right,  rgb(251, 255, 0), rgb(251, 255, 9)); 
  $bg-07-a: no-repeat left   66.66% top    / 11%   0% linear-gradient(to right,  rgb(251, 255, 0), rgb(251, 255, 9));
  $bg-07-b: no-repeat left   66.66% top    / 11% 100% linear-gradient(to right,   rgb(251, 255, 0), rgb(251, 255, 9));
  $bg-08-a: no-repeat left   77.77% bottom / 11%   0% linear-gradient(to right,  rgb(251, 255, 0), rgb(251, 255, 0));
  $bg-08-b: no-repeat left   77.77% bottom / 11% 100% linear-gradient(to right,  rgb(0, 255, 0), rgb(0, 255, 0));
  $bg-09-a: no-repeat left   88.88% top    / 11%   0% linear-gradient(to right,  rgb(17, 190, 17), rgb(0, 255, 0));
  $bg-09-b: no-repeat left   88.88% top    / 11% 100% linear-gradient(to right,  rgb(0, 255, 0), rgb(0, 255, 0));  
  $bg-10-a: no-repeat left   99.99% bottom / 11%   0% linear-gradient(to right,  rgb(0, 255, 0), rgb(0, 255, 0));
  $bg-10-b: no-repeat left   99.99% bottom / 12% 100% linear-gradient(to right,  rgb(0, 255, 0), rgb(0, 255, 0));